@font-face {
    font-family: "DM Sans";
    src: url("media/DM_Sans.woff2");
}

*{
    font-family: 'DM Sans', sans-serif;
}

body{
    background-color: var(--background_color,rgb(10, 15, 34));
    color: var(--text_color,rgb(240, 244, 248));
}

h1{
    text-align:center;
    height: 40%;
    margin-top:0;
    padding: 1rem;
}
:root{
    /*Color Variables (fallback = same value)*/
    --text_color: rgb(240, 244, 248);
    --secondary_color: rgb(29, 34, 51);
    --background_color: rgb(10, 15, 34);
}

body{
    display:flex;
}

hr{
    width: 75%;
}
/* Style for the vertical navbar */
header {
    background-color: var(--secondary_color,gray); /* Change the background color as needed */
    width: 20dvw; /* Set the width of the navbar */
    height: 95dvh;
    
}

/* Style for the links inside the navbar */
header a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 2em;
    transition: background-color 1s, font-size 1s;
    
}

/* Change the link color on hover */
header a:hover {
    background-color: #555;
    font-size: 1.2em;
    
}

.content{
    display:flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    align-items: center;
}

button:has(img){
    width: 60%;
}

.menu{
    align-self: flex-start;
}

footer{
    position:absolute;
    bottom:0;
    margin: 0.5rem;
    align-self: center;
    font-size: 0.25rem;
}
/* Animations */
@keyframes fadeIn{
    from{
        opacity:0;
        transform: scale(1.5);
    }
    to{
        opacity:1;
        transform: scale(1);
    }
}

/*Media Query Breakpoints
(breakpoint values taken from example at 
https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp)*/

/* Small devices (portrait tablets and large phones, 768px and up) */
@media only screen and (max-width: 768px) {
    header{
        display:none;
    }
    .menu{
        display: block;
    }
  }
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .menu{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .menu{
        display: none;
    }
}
